{% extends 'flatpages/default.html' %}

{% block title %}
Adverts
{% endblock title %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
    </form>
    <button><a style=" text-decoration:none; color:black" href="{% url 'profil_user' %}">Приватная страничка</a> </button>
    <h1>All adverts ({{ adverts|length }})</h1>
    <button><a style=" text-decoration:none; color:black" href="{% url 'advert_edit' %}">Создать объявление</a> </button>

    {% for single_advert in adverts %}
        <hr>
        <a style=" text-decoration:none; color:black" href="{{ link }}{{ single_advert.get_absolute_url }}"><h2>{{ single_advert.title }}</h2></a>
        <h6>{{ single_advert.time_in|date:'d M Y' }}</h6>
        <h3>{{ single_advert.content|safe }}</h3>
        {{ form.media }}
        {% if not single_advert.author == request.user  %}
            <button><a style=" text-decoration:none; color:black" href="{% url 'feedback_edit' single_advert.id %}">Оставить отклик</a> </button>
        {% endif %}
    {% endfor %}
{% endblock content %}
